# Configuración de Servidor Backend
PORT=3000
NODE_ENV=production
JWT_SECRET=mi_clave_super_segura_para_jwt_con_64_caracteres_1234567890abcdef
DATA_ENCRYPTION_KEY=mi_clave_encriptacion_super_segura_con_64_caracteres_abcdefghijklmnopqrstuvwxyz123456
CORS_ORIGIN=*

# Conexión a Base de Datos Supabase PostgreSQL (Transaction Pooler o Direct Connection)
DATABASE_URL=postgresql://postgres.tbksfjsqarspcdzqnjim:Lozadamateo12.@aws-1-us-east-2.pooler.supabase.com:6543/postgres?sslmode=require

# Configuración del Frontend Web para Docker y SSL
VITE_API_URL=/api
FRONTEND_URL=https://optica-integral.duckdns.org
DOMAIN_NAME=optica-integral.duckdns.org
DUCKDNS_TOKEN=61a3a0ee-2bbd-4eae-8822-33ec4c12c6d1

# Configuración SMTP Correo Gmail
SMTP_SERVICE=gmail
EMAIL_USER=mateojosue17lozada@gmail.com
EMAIL_APP_PASSWORD=jaaqzkjvoxkrufog
EMAIL_FROM="Óptica Integral <mateojosue17lozada@gmail.com>"
